<nav class="navbar navbar-expand-lg navbar-dark br-kaohon-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="this.app.isLoggedIn();">
      <li class="nav-item">
        <a class="nav-link f-thin" href="#" routerLink="/">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link f-thin" href="#" routerLink="/users">Members</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand" href="#">KAOHON</a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto" *ngIf="this.app.isLoggedIn(); else register">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle f-thin" href="#" id="drop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All You
        </a>
        <div class="dropdown-menu br-kaohon-dark-2" aria-labelledby="drop">
          <a class="dropdown-item txt-default f-thin" routerLink="/profile">Your Profile</a>
          <a class="dropdown-item txt-default f-thin" href="#">Your Friends</a>
          <a class="dropdown-item txt-default f-thin" href="#">Settings</a>
          <a class="dropdown-item txt-default f-thin" href="#" routerLink="/report">Report a Bug</a>
          <a class="dropdown-item txt-default f-thin" href="#">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link f-thin" href="#" routerLink="/home" (click)="logOut()">Log Out</a>
      </li>
    </ul>
    <ng-template #register>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link f-thin" href="#" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link f-thin" href="#" routerLink="/login">Log In</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
