<div class="container-fluid">
  <h3 class="text-center spacer-l f-thin">View Profile</h3>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h5 class="text-center f-thin">Edit Details</h5>
      <form class="form-inline">
        <div class="form-group">
          <label for="first">First Name</label>
          <input class="form-control" type="text" name="first" id="first">
        </div>
        <div class="form-group">
          <label for="last">Last Name</label>
          <input class="form-control" type="text" name="first" id="last">
        </div>
        <div class="form-group">
          <!-- ToDo: Options? -->
          <label for="hometown">Hometown</label>
          <input class="form-control" type="text" name="first" id="hometown">
        </div>
        <div class="form-group">
          <!-- ToDo: Options? -->
          <label for="division">Division</label>
          <input class="form-control" type="text" name="first" id="division">
        </div>
        <div class="d-block ml-auto mr-auto spacer">
          <button type="submit" class="btn btn-danger userBox">Save Data</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-sm-6">
      <h5 class="text-center f-thin">Manage your Posts</h5>
    </div>
    <div class="col-md-4 col-sm-6">
      <h5 class="text-center f-thin">Manage your Friends</h5>
    </div>
  </div>
</div>
