<div [@enterAnim] class="content" role="main">
  <h1 class="text-center spacer-l f-thin">{{ title }}</h1>

  <div class="row">
    <div *ngFor="let bUser of userGroup" class="col-md-4 spacer br-kaohon-gradient shadow
                  txt-default p-3 m-margin userBox">
      <h3 class="text-center">{{ bUser.name }}</h3>
      <p class="text-center">{{ bUser.email }}</p>
    </div>
  </div>

  <div *ngIf="userList.length != 0">
    <h2 class="text-center f-thin">2020年10月の新卒グループ</h2>
    <div class="row">
      <div *ngFor="let user of userList"
           class="col-md-4 spacer br-kaohon-gradient shadow
                  txt-default p-3 m-margin userBox">
        <!-- ToDo: Convert an individual panel into a component-->
        <div class="col-md-12">
          <img src="{{user.profPicLink}}" class="profPic">
          <h3 class="card-title spacer text-center f-light">{{ user.name }}</h3>
          <p class="card-text text-center f-thin">({{ user.gender }}) {{ user.division }}<br>From {{ user.home }}</p>
          <br>
          <div class="text-center">
            <button class="btn btn-light spacer-side f-thin"><i class="fas fa-plus"></i>View Profile</button>
            <button class="btn btn-dark spacer-side f-thin"><i class="fas fa-plus"></i>Add as Friend</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
